<header class="site-header">
  <div class="container">
    <div class="site-title">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="{{ site.title }}" class="site-logo">
        {{ site.title }}
      </a>
    </div>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/articles/' | relative_url }}">Articles</a></li>
        <li><a href="{{ '/story/' | relative_url }}">Story</a></li>
        <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      </ul>
    </nav>
  </div>
</header>